{
  "singleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/api",
    "^@/pages",
    "^@/components",
    "^@/types",
    "^@/utils",
    "^@/hooks",
    "^@/icons",
    "^@/mocks",
    "^[./]"
  ]
}
