@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@layer components {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  button,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video 
  /*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }*/
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }

  /*a {
    text-decoration: none;
  }*/

  /* 버튼 색상 */
  .button-submit {
    @apply bg-blue-600 rounded-lg text-white shadow-lg;
  }

  .button-cabinet-action {
    @apply bg-blue-600 text-white border border-blue-600 rounded-lg hover:bg-blue-500 hover:text-white transition-all duration-150;
  }

  /* 측면 아이콘 */
  .button-side-icon-basic {
    @apply flex flex-col items-center p-4 rounded-md transition-all duration-150;
  }

  .button-side-icon-before {
    @apply hover:bg-blue-600 hover:text-white;
  }

  .button-side-icon-after {
    @apply bg-blue-50 text-blue-600;
  }

  /* 상단 아이콘 */
  .button-top-icon-basic {
    @apply mr-3 p-2 rounded-md focus:outline-none hover:bg-blue-500;
  }

  .button-top-icon-before {
    @apply bg-blue-600;
  }

  .button-top-icon-after {
    @apply bg-blue-500;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .hidden-scrollbar {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf")
      format("truetype");
  font-display: swap;
}
